<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<% if can? :edit, @post %><%= link_to 'Edit', edit_post_path(@post) %><% end %>
<%= link_to 'Back', posts_path %>
